.resize-pattern__button:hover, .sidebar__items li:hover {
  background: #666666;
  color: #ffffff; }
  .resize-pattern__button:hover a, .sidebar__items li:hover a {
    color: #ffffff; }

.header {
  height: 75px;
  box-sizing: content-box;
  padding: 10px;
  background: #ffffff; }

.header__container {
  max-width: 1300px;
  margin: 0 auto; }

.header__logo img {
  display: block;
  float: left;
  height: 75px; }

.header__logo {
  margin: 0;
  line-height: 75px;
  padding-left: 5%;
  float: left;
  font-size: 24px;
  color: #2e008b;
  font-weight: 300; }

.header__buttons {
  float: right; }

.header__download-links {
  float: left;
  margin: 20px 10px; }
  .header__download-links p {
    display: inline-block;
    margin: 0;
    line-height: 30px; }
  .header__download-links img {
    float: left; }

.resize-pattern {
  width: 80%;
  float: right;
  padding: 10px 0 0 10px;
  cursor: pointer;
  max-width: 1040px;
  margin: 0 auto; }

.resize-pattern__button {
  float: left;
  margin: 5px 10px;
  border: 1px solid #2e008b;
  border-radius: 5px;
  color: #2e008b; }
  .resize-pattern__button p {
    margin: 5px 15px;
    font-size: 14px; }

.body-resized {
  margin: 0 auto;
  float: none;
  border: 1px solid #e3e3e3; }

.sidebar__items {
  color: #666666;
  padding: 50px 0 0; }
  .sidebar__items li {
    border: 1px solid #333333;
    border-radius: 5px;
    list-style: none;
    padding: 8px 15px;
    text-align: center;
    margin: 10px auto;
    width: 75%; }
  .sidebar__items a {
    text-decoration: none;
    color: #666666; }

/* Indiviudal Pattern Styles

  Pattern Contents :
    1) Wrappers and layout of pattern page
    2) Branding Colour Tiles
    3) Buttons and Call to actions
    4) Links
    5) Promos
    6) Promo Tiles
*/
/*
* 1) Wrappers and layout of pattern page
*/
.CRUK-wrapper {
  max-width: 960px; }

.pattern-title {
  margin-top: 20px;
  border-bottom: 1px solid #e3e3e3; }

.pattern__header {
  padding-top: 20px; }
  .pattern__header h3 {
    margin-bottom: 10px; }

.pattern__code--html, .pattern__code--css, .pattern__code--title-html, .pattern__code--title-css, .pattern__code--title-sass, .pattern__notes p {
  display: none; }

.pattern {
  overflow: hidden;
  clear: both; }
  .pattern .show-children {
    display: block; }

.pattern__code, .pattern__notes {
  margin: 20px 0;
  overflow: hidden;
  border: 1px solid #e3e3e3;
  background: #ffffff; }

.pattern__code--header {
  background: #ffffff;
  padding: 5px;
  color: #333333;
  cursor: pointer;
  margin: 0; }
  .pattern__code--header:after {
    content: '+';
    font-size: 18px;
    text-align: right;
    float: right;
    line-height: 1em; }

.pattern__code--tabs {
  background: #ffffff;
  border-top: 1px solid #e3e3e3;
  overflow: hidden; }

.prettyprint {
  border-top: 1px solid #e3e3e3; }

.pattern__code--title-html, .pattern__code--title-css, .pattern__code--title-sass {
  float: left;
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 0; }

.prettyprint {
  clear: both;
  padding: 10px;
  display: none; }

/*
** START OF PATTERN LIBRARY STYLES //
*/
/*
* 1) Branding Colour Tiles
*/
.colours-pattern {
  width: 200px;
  box-sizing: border-box;
  margin: 20px;
  float: left;
  background: #f5f5f5;
  border: 1px solid #e3e3e3; }
  .colours-pattern p {
    padding: 0 20px; }

.colours-pattern__colour {
  height: 150px; }

.colours-pattern__colour--white {
  background: #ffffff; }

.colours-pattern__colour--dark-blue {
  background: #2e008b; }

.colours-pattern__colour--med-grey {
  background: #c8c9c7; }

.colours-pattern__colour--magenta {
  background: #ec008c; }

.colours-pattern__colour--light-blue {
  background: #00b6ed; }

.colours-pattern__colour--dark-grey {
  background: #666666; }

.colours-pattern__colour--light-grey {
  background: #e3e3e3; }

.pattern__style {
  padding: 15px 0 5px 0;
  overflow: hidden; }

h1 {
  font-family: "MuseoSansRounded-700", "MuseoSans-700", "Arial", "Helvetica", sans-serif;
  font-size: 28px;
  color: #333333;
  line-height: 1.5; }

/*
* 3) Buttons and Call to actions
*/
.primary-call-to-action-button {
  cursor: pointer;
  padding: 8px 10px;
  background-color: #ec008c;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "MuseoSansRounded-700","MuseoSans-700","Arial","Helvetica",sans-serif;
  font-weight: normal;
  text-decoration: none;
  min-width: 200px;
  max-width: 350px;
  display: inline-block; }
  .primary-call-to-action-button:hover {
    background-color: #F033A3; }

.secondary-call-to-action {
  background: transparent url(http://www.cancerresearchuk.org/sites/all/themes/custom/cruk/images/pink-arrow.png) no-repeat 0 2px;
  float: left;
  background-position: 0 5px;
  color: #ec008c;
  text-decoration: none;
  padding-left: 15px;
  font-weight: bold;
  font-size: 14px; }
  .secondary-call-to-action:visited {
    color: #F033A3; }

.large-secondary-call-to-action {
  background: transparent url(http://www.cancerresearchuk.org/sites/all/themes/custom/cruk/images/pink-arrow.png) no-repeat 0 2px;
  float: left;
  background-position: 0 5px;
  color: #ec008c;
  text-decoration: none;
  padding-left: 15px;
  font-weight: bold;
  font-size: 18px; }
  .large-secondary-call-to-action:visited {
    color: #F033A3; }

/*
* 4) Links
*/
.header-link-rollover {
  text-decoration: none; }
  .header-link-rollover:hover {
    text-decoration: underline;
    color: #ec008c; }

.title-link-rollover {
  text-decoration: none;
  font-weight: bold; }
  .title-link-rollover:hover {
    text-decoration: underline;
    color: #ec008c; }

.inline-link:hover {
  text-decoration: underline;
  color: #ec008c; }

.external-link:after {
  content: url(http://www.cancerresearchuk.org/sites/all/themes/custom/cruk/images/cruk-icons/external-link-icons/external-link-text.png);
  padding-left: 2px; }

.external-link:hover {
  color: #ec008c; }

/*
* 5) Promos
*/
.hero-section-full {
  position: relative;
  border-radius: 3px;
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px; }

.hero-section-full__image-wrapper {
  max-height: 360px;
  overflow: hidden; }

.hero-section-full__image {
  width: 100%; }

.hero-section-full__caption {
  background-color: rgba(51, 51, 51, 0.8);
  bottom: 0px;
  height: auto;
  left: 0;
  margin: 0 10px;
  position: absolute;
  right: 0;
  top: auto;
  padding: 20px 20px 6px 20px; }

.hero-section-full__caption h2, .hero-section-full__caption p {
  color: #ffffff; }

.hero-section-wrapper {
  position: relative; }

.hero-section-mid {
  border-radius: 3px;
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px; }

.hero-section-mid__image-wrapper {
  max-height: 350px;
  overflow: hidden; }

.hero-section-mid__image {
  width: 100%; }

.hero-section-mid__caption {
  padding: 20px 20px 6px 20px;
  background-color: rgba(51, 51, 51, 0.8);
  bottom: 0px;
  height: auto;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: auto;
  margin: 0 10px; }

.hero-section-mid__caption h2, .hero-section-mid__caption p {
  color: #ffffff;
  margin-top: 0; }

.hero-section-mid-sidebar {
  background-color: #2e008b;
  padding: 20px; }
  @media (min-width: 640px) {
    .hero-section-mid-sidebar {
      height: 350px; } }
  .hero-section-mid-sidebar h2, .hero-section-mid-sidebar p {
    color: #ffffff;
    margin-top: 0; }

.primary-call-to-action-button--hero-promo {
  width: 100%;
  min-width: 150px; }

/*
* 6) Promo Tiles
*/
@media screen and (min-width: 640px) {
  .panel-row-1 {
    display: flex; }
    .panel-row-1.panel-row-1 > div {
      display: flex; } }

.panel-3 {
  flex: 1;
  margin: 10px 0;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  padding: 20px;
  overflow: hidden; }
  @media screen and (min-width: 640px) {
    .panel-3 {
      min-height: 420px; } }

.panel-3__header h1, .panel-3__header h2, .panel-3__header h3, .panel-3__header h4 {
  margin-bottom: 20px; }

.panel-3__content {
  margin: 20px 0; }

.panel-2 {
  flex: 1;
  margin: 10px 0;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  padding: 20px;
  overflow: hidden; }
  @media screen and (min-width: 640px) {
    .panel-2 {
      min-height: 420px; } }

.panel-2__header h1, .panel-2__header h2, .panel-2__header h3, .panel-2__header h4 {
  margin-top: 0;
  margin-bottom: 20px; }

.panel-2__image {
  width: 100%; }

.panel-2__content {
  margin: 20px 0; }

.panel-1-content {
  flex: 1;
  margin: 10px 0;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  padding: 20px 10px;
  overflow: hidden; }

.panel-1-content__header h1, .panel-1-content__header h2, .panel-1-content__header h3, .panel-1-content__header h4 {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 10px; }

.panel-1-content__image {
  width: 100%; }

.panel-1-content__content {
  margin: 0 0 20px 0; }
  @media screen and (max-width: 640px) {
    .panel-1-content__content {
      margin-top: 20px; } }

.panel-one-third-hero {
  flex: 1;
  margin: 10px 0;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  padding: 20px 10px;
  overflow: hidden; }

.panel-one-third-hero__header h1, .panel-one-third-hero__header h2, .panel-one-third-hero__header h3, .panel-one-third-hero__header h4 {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 10px; }

.panel-one-third-hero__image {
  width: 100%; }

.panel-one-third-hero__content {
  margin: 0 0 20px 0; }
  @media screen and (max-width: 640px) {
    .panel-one-third-hero__content {
      margin-top: 20px; } }

.pullout-promo-box {
  padding: 20px;
  background: #2e008b; }

/*
* 7) Forms
*/
input, select, textarea {
  display: block;
  margin-top: 5px;
  height: 40px;
  border-radius: 3px;
  border: 2px solid #e3e3e3;
  padding: 5px;
  background: #f5f5f5;
  font-size: 14px; }

input[type=text]:focus, select:focus, textarea:focus {
  outline: none;
  border: 2px solid #00b6ed; }

input[type="radio"], input[type="checkbox"] {
  display: inline-block;
  height: 15px;
  margin: 0 5px 0; }

.form-type-checkbox {
  width: 100%; }

@media screen and (min-width: 641px) {
  .fapi-form--narrow {
    width: 460px;
    margin: auto; } }

fieldset {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  margin: 0 0 20px 0;
  padding: 20px;
  clear: both; }

.form-item {
  margin-top: 15px;
  overflow: hidden;
  clear: both; }

.form-type-radio, .form-type-checkbox {
  float: left;
  padding: 8px 15px 8px 10px;
  clear: both;
  border: 2px solid #e3e3e3;
  margin: 5px 0;
  border-radius: 35px; }

.form-type-radios {
  max-width: 300px;
  min-width: 200px; }

.form-type-radio--other-button {
  height: auto;
  border-radius: 15px; }

.field-prefix {
  display: block; }

.cruk-addressline1-0 {
  min-width: 300px; }

.form-type-date-fields .form-item {
  display: inline-block;
  margin: 0 10px 0 0; }

.form-type-date-fields input {
  width: 80px;
  text-align: center; }

.form-item__textarea {
  width: 100%;
  min-height: 100px; }

html {
  font-family: "Arial", sans-serif;
  font-size: 14px; }

body {
  background: #f5f5f5; }

h1 {
  font-family: "MuseoSansRounded-700", "MuseoSans-700", "Arial", "Helvetica", sans-serif;
  font-size: 28px; }

h2 {
  font-family: "MuseoSansRounded-700", "MuseoSans-700", "Arial", "Helvetica", sans-serif;
  font-size: 21px; }

h3 {
  font-family: "MuseoSans-700", "Arial", "Helvetica", sans-serif;
  font-size: 16px; }

h4 {
  font-family: "MuseoSans-700", "Arial", "Helvetica", sans-serif;
  font-size: 14px; }

p {
  font-family: "Arial", sans-serif;
  font-size: 14px; }

a {
  color: #2e008b;
  line-height: 1.5; }

h1, h2, h3, h4 {
  margin-top: 0; }

h1, h2, h3, h4, p {
  color: #333333;
  line-height: 1.5; }

.white {
  color: #ffffff; }

.strong {
  font-weight: bold; }

.top-margin {
  margin-top: 20px; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }
